<div class="container">
  <footer class="footer">
    <small>
      
      Copyright &copy; <a href="#">Moura07 Blog</a>
      By Moura07
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
    
  </footer>
  
</div>